  body{font-family:Segoe UI;
       font-weight:400;
	   background-color:#F7F7F7;}
.icon{font-size:20px;
   	  padding:1%;}

.img{padding-top:1%;
     font-size:26px;
   	 }
	  
.pen{font-size:29px;
      padding-top:;
	  padding:0.9%;
	 }		  

		  
.ic{font-size:36px;}

.icon1{font-size:20px;
       margin-left:800px;}
	   
.iconn{margin-left:260px;
      font-size:20px;}      	   
.si:hover{color:white;}	
.s:hover{color:white;}   
.icon1:hover{color:#C8C8C8;}

.span:hover{background-color:black;}

.span2:hover{color:gray;}

.icon2:hover{background-color:#DBDBDB;
padding:20%;border-radius:10px;
             }

.icon2{font-size:23px;}

.sp{padding-left:1.3%;
    color:gray;
	}
.ss1:hover{background-color:black;}
.sp:hover{color:black; }

	   

.icol{color:#A1A1A1;}

.div{border:1px solid black;
     height:270px;
	 width:40%;
	 border-radius:10px;
	 margin-top:-250px;}
	 
.img1:hover{border:2px groove black;}

.img2:hover{border:2px dashed black;}	 

.img3:hover{border:2px outset black;}

.img4:hover{border:5px ridge black;}

.img5:hover{border:5px double black;}

.img6:hover{border:5px  dotted black;}